body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
dl,
dd,
form,
input,
textarea,
select {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

li {
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
}

body {
    background: #fff url(../images/bg.png) repeat-x;
}


/*-------------------------------------------------------------*/

#top {
    width: 960px;
    height: 30px;
    margin: 0 auto;
}

.top_menu {
    float: left;
}

.top_menu a {
    color: #c0c0c0;
}

.top_menu li {
    float: left;
    background: url(../images/top_ico.png) no-repeat right 14px;
    line-height: 30px;
    padding-right: 18px;
    margin-right: 15px;
}

.top_menu a:hover {
    color: #fff
}

.top_menu .no_dot {
    background: none;
    padding: 0;
    margin: 0;
}


/*-------------------------------------------------------------*/

.top_bar {
    float: right;
}

.top_bar li {
    float: left;
    height: 30px;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
}

.top_bar .phone {
    background: url(../images/top_ico.png) no-repeat 0 -16px;
    padding: 0px 26px;
}

.top_bar .help {
    background: url(../images/top_ico.png) no-repeat 0 -46px;
    padding: 0px 26px;
}

.top_bar .help a {
    color: #fff;
    padding-left: 15px;
}

.top_bar .space {
    margin-right: 12px;
}


/*----------------------------------------------------------*/

#header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    background: url(../images/header.bd.png) no-repeat;
}

#shoping {
    width: 260px;
    height: 100px;
    background: url(../images/shopping_bg.png) no-repeat 0 5px;
    position: relative;
}

#shoping a {
    display: block;
    width: 114px;
    height: 23px;
    background: url(../images/shopping_bg.png) no-repeat 0 -94px;
    position: absolute;
    top: 63px;
    left: 104px;
    font-size: 15px;
    color: #ffc200;
    text-decoration: none;
    text-align: center;
    line-height: 23px;
    font-weight: bold;
}

#shopping a:hover {
    color: #ffe338;
}

#shoping p {
    color: #f7f7f7;
    font-size: 20px;
    font-family: Arial;
    padding: 30px 0 0 84px;
}

#header h1 {
    width: 238px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -119px;
}

#header .search {
    top: 34px;
    right: 0;
}


/*----------------------------------------------------------*/

.search {
    width: 292px;
    height: 31px;
    background: url(../images/search.png) no-repeat;
    position: absolute;
}

.search .text {
    position: absolute;
    top: 0;
    left: 20px;
    width: 230px;
    height: 30px;
    font-size: 13px;
    color: #666;
    outline: none;
    background: none;
    border: none;
}

.search .btn {
    width: 42px;
    position: absolute;
    background: none;
    border: none;
    height: 30px;
    top: 0;
    right: 0;
    height: 30px;
}


/*-----------------------------------------------------*/

#nav {
    width: 960px;
    height: 36px;
    margin: 0 auto;
    padding-top: 8px;
}

#nav li {
    float: left;
    height: 28px;
    margin-right: 2px;
}

#nav a {
    float: left;
    height: 28px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    line-height: 28px;
}

#nav a:hover,
#nav .active a {
    background: url(../images/nav_active.bg.png) repeat-x 0 -56px;
}

#nav a:hover strong {
    background: url(../images/nav_active.bg.png) no-repeat;
}

#nav a:hover span {
    background: url(../images/nav_active.bg.png) no-repeat right -26px;
}

#nav strong {
    float: left;
    height: 28px;
    font-weight: normal;
}

#nav span {
    float: left;
    height: 28px;
    text-decoration: none;
    outline-style: none;
    list-style: none;
    padding: 0 16px;
}


/*-----------------------------------------------------------*/

#content {
    width: 1000px;
    margin: 24px auto 0;
    background: url(../images/content_bd.png) repeat-y -1000px 0;
}

#content_top {
    width: 1000px;
    background: url(../images/content_bd.png) no-repeat 0 0;
}

#content_buttom {
    width: 1000px;
    background: url(../images/content_bd.png) no-repeat -2000px bottom;
}


/*----------------------------------------------------------*/

#ad {
    width: 940px;
    height: 300px;
    position: relative;
    padding-top: 10px;
    margin: 0 auto;
}

#ad ul,
#ad li,
#ad h2,
#ad p {
    position: absolute;
}

#ad ul {
    z-index: 1;
    top: 0;
    left: 0;
}

#ad li {
    top: 0;
    left: 0;
}

#ad h2 {
    top: 280px;
    left: 0;
    z-index: 3;
    bottom: 0;
    width: 268px;
    text-align: center;
    font-size: 25px;
    color: #ffc600;
}

#ad p {
    top: 280px;
    left: 268px;
    bottom: 8px;
    color: #fcc;
    font-size: 13px;
    line-height: 16px;
    z-index: 3;
    width: 630px;
}

#ad .bg {
    width: 940px;
    height: 32px;
    background: #000;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}


/*----------------------------------------*/

#main {
    width: 942px;
    margin: 0 auto;
    padding-top: 30px;
}

#site {
    width: 210px;
    float: left;
}

#wrap {
    width: 706px;
    float: right;
}

.clear {
    zoom: 1;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}


/*--------------------------------------------------------------*/

.module_menu {
    margin-bottom: 12px;
}

.module_menu h2 {
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    height: 29px;
    color: #fff;
    background: url(../images/module_menu.bd.png) repeat-x 0 -58px;
    margin-bottom: 1px;
}

.module_menu h2 strong {
    height: 29px;
    display: block;
    background: url(../images/module_menu.bd.png) no-repeat;
}

.module_menu h2 span {
    height: 29px;
    display: block;
    background: url(../images/module_menu.bd.png) right -29px;
}

.list {
    background: url(../images/list.png) repeat-y;
    padding: 0 8px;
}

.list ul {
    background: url(../images/list.png) repeat-y -210px bottom;
    padding: 18px 8px 15px-;
}

.list li {}

.list a {
    display: block;
    height: 27px;
    border-bottom: 1px solid #fff;
    color: #434343;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding-left: 32px;
}

.list a:hover {
    color: #b20e00;
    border-bottom: 1px solid #b20e00;
    background: #fae191;
}


/*---------------------------------------------------*/

.module_join {
    width: 210px;
}

.module_join_t {}

.module_join_b {}

.module_join {}

.module_join {}

.Join_form {
    width: 180px;
    margin: 0 auto 12px;
}

.Join_form p {
    font-size: 15px;
    color: #666;
    line-height: 18px;
    padding: 12px 0;
}

.Join_form .text {
    width: 175px;
    height: 25px;
    line-height: 25px;
    background: #fff;
    border: 1px solid #fff;
    border-top: 1px solid #9c9c9c;
    border-left: 1px solid #fff;
    margin-bottom: 6px;
}

.Join_form .btn {
    width: 88px;
    height: 25px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: url(../images/btn.png);
    margin: 0 auto;
    display: block;
}

.Join_list {
    width: 192px;
    margin: 0 auto;
    background: url(../images/icon1.png) no-repeat 10px 10px;
}

.Join_list li {
    border: 1px solid #fff;
    padding-left: 62px;
    padding-top: 2px;
    font-size: 13px;
}

.space1 {
    height: 45px;
    line-height: 45px;
}

.space2 {
    height: 48px;
    padding-top: 5px;
    line-height: 18px;
}

.space3 {
    height: 50px;
    padding-top: 5px;
    line-height: 18px;
}


/*------------------------------------------*/

#payment {
    margin: 82px 0 0 0px;
}


/*------------------------------------------*/

.sort {
    height: 20px;
}

.sort dl {
    float: left;
}

.sort dt {
    float: left;
    font-size: 12px;
    color: #747474;
    font-weight: bold;
    padding-right: 2px;
}

.sort dd {
    float: left;
    width: 109px;
    position: relative;
    height: 19px;
    margin-right: 12px;
}

.sort ul {
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    top: 18px;
    left: 0;
    z-index: 1;
    display: none;
}

.sort li {
    font-size: 12px;
    line-height: 20px;
    text-indent: 5px;
    cursor: pointer;
}

.sort p {
    float: right;
    color: #747474;
}

.sort p strong {
    color: #999;
}

.sort p span {
    padding: 0 5px;
}

.sort h2 {
    width: 107px;
    height: 17px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #747474;
    font-weight: normal;
    text-indent: 5px;
}

.sort a {
    height: 19px;
    width: 19px;
    position: absolute;
    top: 0;
    left: 90px;
    background: url(../images/icon2.jpg) 0 0;
    z-index: 2;
}

.sort a:hover {
    background: url(../images/icon2.jpg) -19px 0;
}

.sort .active {
    background: #099;
    color: #fff;
}

.color_style {
    color: #b20e00;
}


/*----------------------------------------------------------*/

.pic_list {
    width: 706px;
    overflow: hidden;
}

.pic_list h2,
#scroll_list h2 {
    font-size: 18px;
    color: #666;
    height: 62px;
    line-height: 56px;
    overflow: hidden;
}

.pic_list a {
    width: 154px;
    height: 114px;
    border: 1px solid #c6c6c6;
    margin-bottom: 6px;
}

.pic_list a:hover {
    border: 1px solid #663;
}

.pic_list li {
    float: left;
    width: 182px;
    height: 200px;
}

.pic_list ul {
    width: 736px;
}

.pic_list h3 {
    color: #666;
    font-size: 15px;
    line-height: 16px;
}

.pic_list p {
    color: #333;
    font-size: 13px;
    line-height: 16px;
}

.pic_list span {
    color: #b20e00;
}


/*-----------------------------------------------*/

.page {
    text-align: center;
    border-bottom: 1px, solid, #cdcdc8;
}

.page a {
    display: inline-block;
    height: 20px;
    padding: 0 3px;
    color: #b20e00;
    text-decoration: none;
    padding: 0 8px;
    font-size: 12px;
    line-height: 20px;
}

.page a:hover,
.page .active {
    color: #fff;
    background: #b20e00;
}


/*----------------------------------------------*/

.scroll_wrap {
    height: 196px;
    background: url(../images/picture/16.png) no-repeat;
}

.prev {
    width: 35px;
    height: 43px;
    background: url(../images/scroll_bg1.png);
    float: left;
}

.next {
    width: 35px;
    height: 43px;
    background: url(../images/scroll_bg2.png);
    float: right;
}


/*---------------------------------*/

.list_wrap {
    width: 615px;
    margin: 0 auto;
    padding: 35px;
}

.list_wrap ul {
    width: 615px;
    height: 150px;
}

.list_wrap li {
    width: 202px;
    float: right;
    padding-top: -210px;
}

.list_wrap a {
    display: block;
    width: 145px;
    height: 100px;
}

.list_wrap p {
    font-size: 12px;
    color: #600;
    text-align: center;
    text-indent: 5px;
}


/*-------------------------------------------*/

#footer {
    background: url(../images/footer.bg.png) repeat-x;
    height: 304px;
    position: relative;
}

.search1 {
    width: 292px;
    height: 31px;
    height: 60px;
    background: url(../images/search.png) no-repeat;
    float: right;
    margin-top: 10px;
}

.search1 .text {
    top: 0;
    left: 20px;
    width: 230px;
    height: 30px;
    font-size: 13px;
    color: #666;
    outline: none;
    background: none;
    border: none;
}

.search1 .btn {
    width: 42px;
    float: left;
    background: none;
    border: none;
    height: 30px;
    top: 0;
    right: 0;
    height: 30px;
}


/*-------------------------------------------------*/

.footer1 {
    height: 60px;
    width: 950px;
    margin: 0 auto;
}

.footer1_1 {
    height: 60px;
    width: 300px;
    float: left;
}

.footer2_2 {
    height: 60px;
    width: 300px;
    float: left;
    margin-left: 20px;
}

.footer1_1 span {
    position: absolute;
    top: 20px;
    color: #fff;
    font-size: 15px;
    font-family: Arial;
}

.footer2_2 span {
    line-height: 20px;
    position: absolute;
    top: 20px;
    color: #fff;
    font-size: 15px;
    font-family: Arial;
}


/*---------------------------------------------------*/

.footer2 {
    width: 950px;
    margin: 0 auto;
    position: relative;
}

.list2 li {
    color: #fff;
}

.list2 a {
    text-decoration: none;
    color: #fff;
}

.list2 {
    margin-top: 30px;
    width: 164px;
    height: 200px;
    float: left;
}

.list2 p {
    font-size: 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}